# enforce Unix line endings
*.afm          text eol=lf
*.conf         text eol=lf
*.css          text eol=lf
*.dtd          text eol=lf
*.h            text eol=lf
*.htm          text eol=lf
*.html         text eol=lf
*.ini          text eol=lf
*.js           text eol=lf
*.json         text eol=lf
*.lock         text eol=lf
*.md           text eol=lf
*.mq4          text eol=lf
*.mq5          text eol=lf
*.mqh          text eol=lf
*.mql          text eol=lf
*.mqt          text eol=lf
*.php          text eol=lf
*.phtml        text eol=lf
*.properties   text eol=lf
*.sh           text eol=lf
*.sql          text eol=lf
*.syn          text eol=lf
*.txt          text eol=lf
*.volt         text eol=lf
*.xml          text eol=lf
*.yml          text eol=lf
.gitattributes text eol=lf
.gitignore     text eol=lf
.ht*           text eol=lf


# enforce Windows line endings
*.bat          text eol=crlf
*.uew          text eol=crlf
